# .gitignore

# ignore secret environment variable values in the ".env" file: => Exclude from version control
.env

#NOTE: 
# if your repository already contained a ".env" file 
# before you added the corresponding entry to the ".gitignore" file, 
# you'll need to commit the ".gitignore" file then delete / move the ".env" file and make another commit, 
# and then afterwards you can feel free to restore your ".env" file and it will be ignored