# data/.gitignore

# h/t: https://stackoverflow.com/a/5581995/670433

# ignore all files in this directory:
*
## Kyoung's note: .gitignore in data directory is implemented after uploading some of the data csv files.

# except this gitignore file:
!.gitignore
